{% extends "tenMans/base.html" %}
{% load static %}
{% block header %}
{%endblock%}
{%block content%}
<div class="container-fluid">
    <h1>Leaderboards</h1>
    <div class="row linedheader">
        <div class="col">
            <h2>Single Game</h2>
        </div>
    </div>
    <div class="row justify-content-md-center" style="padding-top: 10px;">
        <div id="mostKillsGameTableContainer" class="col-sm">
            <h3>Most Kills</h3>
            <table id="mostKillsGameTable" class="table table-hover table-bordered table-sm"
                data-url="{% url 'mostKillsGameTable'%}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Kills</th>
                        <th>Game</th>
                        <th>gameID</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="mostDeathsGameTableContainer" class="col-sm">
            <h3>Most Deaths</h3>
            <table id="mostDeathsGameTable" class="table table-hover table-bordered table-sm"
                data-url="{% url 'mostDeathsGameTable'%}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Deaths</th>
                        <th>Game</th>
                        <th>gameID</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="mostAssistsGameTableContainer" class="col-sm">
            <h3>Most Assists</h3>
            <table id="mostAssistsGameTable" class="table table-hover table-bordered table-sm"
                data-url="{% url 'mostAssistsGameTable'%}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assists</th>
                        <th>Game</th>
                        <th>gameID</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="mostDamageGameTableContainer" class="col-sm">
            <h3>Most Damage</h3>
            <table id="mostDamageGameTable" class="table table-hover table-bordered table-sm"
                data-url="{% url 'mostDamageGameTable'%}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Damage</th>
                        <th>Game</th>
                        <th>gameID</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="mostSpreeGameTableContainer" class="col-sm">
            <h3>Largest Killing Spree</h3>
            <table id="mostSpreeGameTable" class="table table-hover table-bordered table-sm"
                data-url="{% url 'mostSpreeGameTable'%}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Killing Spree</th>
                        <th>Game</th>
                        <th>gameID</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="{%static 'js/leaderboards.js'%}"></script>
{%endblock%}